.container {
    background-image: url('./img/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1920px;
    height: 1080px;
}


.kundalik__log {
    margin-top: 20px;
    margin-left: 30px;
}

.text {
    color: #bed7ef;
    font-size: 80px;
    margin-left: 600px;
    font-weight: 700;
    margin-top: -50px;
}

.text1 {
    width: 450px;
    margin: 0;
    padding: 0;
    padding-top: 160px;
    /* margin-left: 1400px; */
    font-size: 35px;
    color: #000;
    font-weight: 50px;
}

.div {
    margin-top: 500px;
    display: flex;
    align-items: center;
    /* text-align: end; */
    gap: 50px;
    margin-left: 800px;
}

.div1 {
    padding-top: 150px;
}

.heading {
    margin: 0;
    padding: 0;
    color: #bed7ef;
    font-size: 40px;
    letter-spacing: 3px;
    /* padding-top: 650px; */
    /* padding-left: 1400px; */
}

.tg {
    /* padding-left: 1400px; */
    display: flex;
    align-items: center;
    display: inline;
}

.telegram {
    color:#fff;
    list-style: none;
    font-size: 20px;
    padding-left: 10px;
}